<%layout("/layouts/boilerplate")%>


<div class="row mt-3">
    <div class="col-8 offset-2">
        <form method="POST"  action="/listings/<%=listing._id%>/?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" value="<%=listing.title%>" required>
                
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" class="form-control"  required><%=listing.description%></textarea>
                
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image link</label>
                <input type="file" name="listing[image]" class="form-control"  required>
                <div class="invalid-feedback">Please upload photo.</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" class="form-control" value="<%=listing.price%>" required>
                
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" value="<%=listing.location%>" required>
               
            </div>
            
            <div class="mb-3">
                <label for="designed_by" class="form-label">Designed by</label>
                <input type="text" name="listing[designed_by]" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="legal_adviser" class="form-label">Legal Adviser</label>
                <input type="text" name="listing[legal_adviser]" class="form-control" >
            </div>
            <br>
            <button class="btn mt-3">Edit</button>       
            <br>

        </form>
    </div>
</div>



